---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: example
spec:
  selector:
    matchLabels:
      app: example
  template:
    spec:
      containers:
        - name: server
          image: 353070403235.dkr.ecr.us-west-2.amazonaws.com/example:latest
          ports:
            - containerPort: 8080
